{% extends 'base.html.twig' %}

{% block title %}Profil Utilisateur{% endblock %}

{% block body %}
            <script>           
               setTimeout(()=>document.querySelector(".alert").style.display = "none",2000) 
            </script>
            {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}
<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white"
                             style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                 alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                            <h5>Marie Horwitz</h5>
                            <p>Web Designer</p>
                            <i class="far fa-edit mb-5"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6>Informations de  {{ app.user.nom ~ ' ' ~ app.user.prenom }} </h6>
                                <hr class="mt-0 mb-4">
                           {{ form_start(form) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.prenom) }}
                            {{ form_row(form.nom) }}
                            {{ form_row(form.typeProfil) }}
                            {{ form_row(form.langue) }}
                            {{ form_row(form.niveauLinguistique) }}
                            {{ form_row(form.description) }}
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                            {{ form_end(form) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
